html {
	color-scheme: dark;
}

.app-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.line {
	display: flex;
}

.cell {
	width: 60px;
	aspect-ratio: 1;
	box-sizing: border-box;
	background-color: #212121;
	border: 2px solid #373737;
	border-radius: 6px;
	margin: 2px;
	font-weight: 700;
	font-size: 28px;
	text-transform: uppercase;
	display: grid;
	place-items: center;
	font-family: "Varela Round", sans-serif;
}

.present {
	background-color: #669900;
	border-color: #8bd100;
}

.elsewhere {
	background-color: #9d9d31;
	border-color: #d3d300;
}

.absent {
	background-color: #626262;
	border-color: #626262;
	color: #fff9;
}
